button, .btn { 
    $btn            : map-get($btn-size, 'md');
    
    display         : inline-block;
    font-family     : $btn-font-family;
    font-weight     : $btn-font-weight;
    line-height     : $btn-line-height;
    color           : $body-color;
    text-align      : center;

    text-decoration : none;
    white-space     : $btn-white-space;
    vertical-align  : middle;
    cursor          : pointer;
    user-select     : none;
    background-color: transparent;
    border          : $btn-border-width solid transparent;
    
    @include button-size( map-get($btn, 'padding'), map-get($btn, 'font-size'), map-get($btn, 'radius') );
    transition      : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        color           : $body-color;
        text-decoration : none;
    }

    &:focus {
        outline     : 0;
        box-shadow  : 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    &:active,
    &.active {
        // @include box-shadow($btn-active-box-shadow);
        box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
    }
    
    &:disabled, &.disabled, fieldset:disabled & {
        pointer-events  : none;
        opacity         : $btn-disabled-opacity;
        box-shadow      : none;
  }


    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value);
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-variant-outline($value);
    }
}

// @each $point, $size in $btn-size {
@each $point in map-keys($btn-size) {
    .#{$point}\:btn {
        $btn  : map-get($btn-size, $point);
        
        @include button-size(
            map-get($btn, 'padding'),
            map-get($btn, 'font-size'),
            map-get($btn, 'radius')
        );
    }
}

.btn-search {
    position    : absolute;
    right       : 5px;
    top         : 5px;
    font-size   : 24px;
    border      : 0;
    background  : {
        color   : transparent;
    }
    cursor      : pointer;
    padding     : 0;
    color       : #fff;
}