%navbar-content {
    display         : flex;
    flex-wrap       : wrap;
    align-items     : center;
    justify-content : space-between;
}

%navbar-expand {
    flex-flow       : row nowrap;
    justify-content : flex-start;
}

.navbar {
    position: relative;
    @extend %navbar-content;
    padding: $navbar-link-padding-y $navbar-link-padding-x;
    @extend .py-2;
    @extend .px-3;

    > .container, > .container-fluid {
        @extend %navbar-content;
        flex-wrap: inherit;
    }

    // @each $breakpoint, $container-max-width in $breakpoints {
    //     $prefix: breakpoint-prefix($breakpoint, $breakpoints);
    //     > .#{$prefix}container {
    //         @extend %navbar-content;
    //         flex-wrap: inherit;
    //     }
    // }

    &-brand {
        display         : inline-block;
        padding-top     : $navbar-brand-padding-y;
        padding-bottom  : $navbar-brand-padding-y;
        margin-right    : $navbar-brand-margin-right;
        font-size       : $navbar-brand-font-size;
        line-height     : inherit;
        white-space     : nowrap;
        &:hover,
        &:focus {
          text-decoration: none;
        }

        img {
            height: 100%;
            width : auto;
        }
        @include breakpoint(sm, $grid-breakpoints, 'max') {
            img {
                width: 156px;
            }
        }
    }

    &-nav {
        display         : flex;
        flex-direction  : row;
        padding-left    : 0;
        margin-bottom   : 0;
        list-style      : none;
      
        .nav-link {
            padding-right : 0;
            padding-left  : 0;
        }
      
        .dropdown-menu {
            position: static;
        }
    }

    &-collapse {
        flex-basis  : 100%;
        flex-grow   : 1;
        align-items : center;
        &:not(.show) {
            display: none;
        }
    }

    &-toggler {
        padding         : $navbar-toggler-padding-y $navbar-toggler-padding-x;
        font-size       : $navbar-toggler-font-size;
        line-height     : 1;
        background-color: transparent;
        border          : $navbar-toggler-border;
        border-radius   : $navbar-toggler-border-radius;
        transition      : $navbar-toggler-transition;

        &:hover {
            text-decoration: none;
        }
        
        &:focus {
            text-decoration : none;
            outline         : 0;
        }

        &-icon {
            display             : inline-block;
            vertical-align      : middle;
            background-repeat   : no-repeat;
            background-position : center;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $next  : breakpoint-next($breakpoint, $grid-breakpoints);
    $prefix: breakpoint-prefix($next, $grid-breakpoints);

    @include breakpoint($next, $grid-breakpoints) {
        .#{$prefix}navbar-expand {
            flex-wrap      : nowrap;
            justify-content: flex-start;

            .navbar {
                &-nav {
                    flex-direction: row;
        
                    .dropdown-menu {
                        position: absolute;
                    }
        
                    .nav-link {
                        padding-right: $navbar-link-padding-x;
                        padding-left : $navbar-link-padding-x;
                    }
                }
        
                &-collapse {
                    display     : flex !important;
                    flex-basis  : auto;
                }
        
                &-toggler {
                    display: none;
                }
            }
        }
    }
}
// Todo: Light & Dark Mode