.nav {
	display      : flex;
    flex-wrap    : wrap;
    padding-left : 0;
    margin-bottom: 0;
    list-style   : none;
  
    &-link {
		display         : block;
		padding         : $nav-link-padding-y $nav-link-padding-x;
		font-size       : $nav-link-font-size;
		font-weight     : $nav-link-font-weight;
		color           : $nav-link-color;
		text-decoration : none;
		transition      : $nav-link-transition;

		&:hover,
		&:focus {
			color          : $nav-link-hover-color;
			text-decoration: none;
		}
    
      	// Disabled state lightens text
		&.disabled,
		&:disabled {
			color         : $nav-link-disabled-color;
			pointer-events: none;
			cursor        : default;
      	}
    }
	
	&-search {
		flex-direction: row;
        
		&.open {
			opacity   : 1;
			visibility: visible;
			animation : slideInLeft 1s both;
		}

		.search-wrapper {
			position    : fixed;
			display     : flex;
			height      : 100%;
			max-width   : 800px;
			left        : 0;
			bottom      : 0;
			right       : 0;
			margin      : 0 auto;
			padding     : 80px 0;
			opacity     : 0;
			visibility  : hidden;
			align-items : center;
			z-index     : 9999;        

			@include breakpoint(lg, $grid-breakpoints, 'max') {
				max-width: 100%;
				margin 	 : 0 30px;
			}

			&.open {
				opacity 	: 1;
				visibility 	: visible;
				animation 	: slideInLeft 1s both;
			}

			.form-control {
				@include breakpoint(sm, $grid-breakpoints, 'max') {
					height: 44px;
				}
				background-color: transparent;
				border-bottom 	: 2px solid #fff;
				border-top 		: 0;
				border-left		: 0;
				border-right	: 0;
				border-radius	: 0;
				padding			: 10px 0;
				color			: #fff;

				&::placeholder {
					color			: #fff;
				}
			}
		}

		.search-close {
			position : absolute;
			right 	 : 0;
			top 	 : 25%;
			font-size: 24px;
			color  	 : #fff;
			cursor 	 : pointer;
		}
    }
}
  