@mixin generate-utility($utility, $prefix) {
    $values: map-get($utility, values);

    @if type-of($values) == "string" or type-of(nth($values, 1)) != "list" {
        $values: zip($values, $values);
    }

    @each $key, $value in $values {
        $properties: map-get($utility, property);

        @if type-of($properties) == "string" {
            $properties: append((), $properties);
        }

        $property-class: if(map-has-key($utility, class), map-get($utility, class), nth($properties, 1));
        $property-class: if($property-class == null, "", $property-class);

        $infix: if($property-class == "" and str-slice($prefix, 1, 1) == "-", str-slice($infix, 2), $prefix);

        $property-class-modifier: if($key, if($property-class == "" and $prefix == "", "", "-") + $key, "");

        .#{$infix + $property-class + $property-class-modifier} {
            @each $key, $propertie in $properties {
                #{$key}: #{$value};
            }
        }
    }
}