// scss-docs-start border-variables
$border-width       : 1px !default;
$border-widths      : (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-color       : map-get($gray, 300);

$border-radius      : .25rem !default;
$border-radius-sm   : .2rem !default;
$border-radius-lg   : .3rem !default;
$border-radius-pill : 50rem !default;
// scss-docs-end border-radius-variables