// Forms

// scss-docs-start form-text-variables
$form-text-margin-top       : .25rem !default;
$form-text-font-size        : $font-size-sm !default;
$form-text-font-style       : null !default;
$form-text-font-weight      : null !default;
$form-text-color            : $text-muted !default;
// scss-docs-end form-text-variables

// scss-docs-start form-label-variables
$form-label-margin-bottom   : .5rem !default;
$form-label-font-size       : null !default;
$form-label-font-style      : null !default;
$form-label-font-weight     : null !default;
$form-label-color           : null !default;

$input-bg                   : $body-bg !default;
$input-disabled-bg          : map-get($gray, 200) !default;
$input-disabled-border-color: null !default;

$input-color        : $body-color !default;
$input-border-color : map-get($gray, 400) !default;
$input-border-width : $border-width !default;
$input-box-shadow   : $box-shadow-inset !default;

$input-padding      : map-get($btn-padding, md) !default;
$input-padding-y    : map-get($input-padding, y );
$input-padding-x    : map-get($input-padding, x );

$input-font-family  : null !default;
$input-font-size    : map-get($btn-font-size, md) !default;
$input-font-weight  : $font-weight-base !default;
$input-line-height  : $btn-line-height !default;

$input-font-size-sm : map-get($btn-font-size, sm) !default;
$input-padding-y-sm : map-get($input-padding, y );
$input-padding-x-sm : map-get($input-padding, x );

$input-font-size-lg : map-get($btn-font-size, lg) !default;
$input-padding-y-lg : map-get($input-padding, y );
$input-padding-x-lg : map-get($input-padding, x );


$input-border-radius-sm : map-get($btn-sm, radius) !default;
$input-border-radius    : map-get($btn-md, radius) !default;
$input-border-radius-lg : map-get($btn-lg, radius) !default;

$input-height-border: $input-border-width * 2 !default;

$input-height   : add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
$input-height-sm: add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
$input-height-lg: add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

$input-transition   : border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
